* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.holder {
    display: grid;

    /* Exact total size */
    width: 200px;
    height: 200px;

    /* 2 columns and 2 rows using repeat */
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
}